// styles

.site-footer
  border-top 1px solid pale
  padding-height f1
  overflow hidden

.site-footer-links
  text-align left
  font-size .9

.site-footer-social-address
  margin-bottom 60px
  margin-top 30px
  font-family Arial

  .footer-address
    line-height 24px
    color #333
    display inline-block
    width 420px

  .footer-social-media
    display inline-block
    width 300px
    float right
    text-align right

  img
    height 16px
    position relative
    top 1px
    display inline-block
    margin 0 5px

    &:hover
      opacity 0.7
    &:active
      opacity 0.4

.site-footer-legal
  font-line .75 f2

  p
    margin-bottom f2

.site-footer-grants
  font-size .9
  margin-bottom f2
  margin-left 0
  padding 0
  position relative
  top -16px
  text-align center

  li
    margin 0 f2 20px 0
    display inline-block
    width 160px
    text-align center

    &:before
      display none

  img
    position relative

    &.nsf
      top b2

    &.nih
      top b3

    &.srcd, &.sloan
      height auto
      border none

    &.srcd
      width 28px
      top 8px

    &.sloan
      width 130px
      top 10px
    &.psu
      width 130px
      top 25px
    &.nyu
      width 28px
      top 10px
    &.lego
      width 140px