<article class="view home-view" home-container>
  <div class="home-bigbuttons section white">
    <div class="heading">
      <div class="logo-white"></div>
      <span class="tag-flip">Video data library for behavioral scientists</span>
      <span class="tag-flip">Discover more, faster</span>
    </div>
    <div class="login-register">
      <a ng-href="{{::page.router.login()}}" class="modal-button" ng-hide="::page.models.Login.isLoggedIn()">
        <button class="login-button">Login</button>
      </a>
      <a ng-href="{{::page.router.profile()}}" ng-show="::page.models.Login.isLoggedIn()">
        <button class="login-button">Your Profile</button>
      </a>
      <a ng-href="{{::page.router.register()}}">
        <button class="register-button">Register</button>
      </a>
    </div>
    <div class="home-max-width">
      <div>
        <a ng-href="{{::page.router.search()}}?volume">
          <div class="green-top">
            <p><strong>Find Clips</strong>
              <br />
              Find video and audio clips for presentations and to learn about procedures
            </p>
          </div>
        </a>
        <a ng-href="{{::page.router.profile()}}" class="opener">
          <div class="green-top">
            <p><strong>Archive Data</strong>
              <br />
              Securely and permanently store all your project information, research data, and procedures
            </p>
          </div>
        </a>
      </div>
      <div class="open-panel">
        <p style="margin-bottom: 25px;">Databrary is a secure, web-based repository to store all of your research products (e.g., audio and video data files, participant demographics and other study metadata, instrumentation and stimuli, procedural videos, coding manuals, and analysis scripts). Backed by the full support of New York University's IT Department, Databrary provides free archival storage to preserve your data in usable form indefinitely. With participant permission, you can then choose to <a href="https://www.databrary.org/resources/data-sharing-manifesto.html">share your research with the Databrary community</a>.</p>
        <p><a href="https://www.databrary.org/resources/guide/investigators/contributing.html">Get more information</a>, and login or register now to get started.</p>
      </div>
      <div>
        <a ng-href="{{::page.router.profile()}}" class="opener">
          <div class="green-top">
            <p><strong>Share Data</strong>
              <br />
              Improve transparency and reproducibility by sharing data and documenting procedures
            </p>
          </div>
        </a>
        <a ng-href="{{::page.router.search()}}?volume">
          <div class="green-top">
            <p><strong>Use Data</strong>
              <br />
              Use shared data to answer new questions
            </p>
          </div>
        </a>
      </div>
      <div class="open-panel">
        <p>When developmental scientists share research data (e.g., CHILDES, AddHealth, ECLS, Early Head Start), the field grows and prospers. In addition, data sharing:</p>
        <ul>
          <li>meets funder and journal requirements,</li>
          <li>reflects our duty to participants and other scientists,</li>
          <li>improves scientific practices by increasing transparency and reproducibility, and</li>
          <li>expands our influence as researchers.</li>
        </ul>
        <p>Read Databrary's <a href="https://www.databrary.org/resources/data-sharing-manifesto.html">Data Sharing Manifesto</a>, and login or register now to get started.</p>
      </div>
    </div>
    <div class="arrow-container"><a class="arrow-a"><span class="arrow-down"></span></a></div>
  </div>
  <div class="p-container section">
  <h2 class="header">Video as data and documentation</h2>
    <!-- NYU Slider -->
    <div class="streamall">
      <!--  stream  -->
      <div class="stream-container">
        <div class="stream-nav left">
        </div>
        <div class="stream-nav right">
        </div>
        <div class="stream-viewport" id="stream-viewport">
          <ul class="stream">
            <li class="col-f ord-1">

            </li>
            <li class="col-1 ord-2">
            <div class="block single promo dark " style="">
              <span>
              <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfVHhJRLshGDxm1ttlrM31CfvFkEOKJY1BPuvbo3bsMY7VJgw/viewform" class="ui-link">Take our user survey!</a>
              </span>
            </div>
            
            <div class="block single promo light">
              <span>
              <a target="_blank" class="ui-link">NEW FEATURE! Shared volume overview (default)</a>
              </span>
            </div>
            </li>
            <li class="col-f ord-1">
      
            </li>
            <li class="col-1 ord-2">
            <div class="block single promo light" style="">
              <span><a target="_blank" class="ui-link">COMING SOON! Metadata upload</a>
                </span>
            </div>
            
            <div class="block single promo dark">
              <span>
              <a target="_blank" href="http://databrary.org/resources/guide/investigators/authorization.html" class="ui-link">How do I join?</a>
              </span>
            </div>
            </li>
            <li class="col-f ord-1">
            
            </li>
            <li class="col-1 ord-2">
            <div class="block single promo dark " style="">
              <span><a target="_blank" href="http://databrary.org/resources/templates/release-template.html" class="ui-link">Sample participant release forms</a>
                </span>
            </div>
            
            <div class="block single promo light">
              <span>
              <a target="_blank" href="https://www.databrary.org/news.html" class="ui-link">Visit us at ICIS, Philadelphia June 2018</a>
              </span>
            </div>
            </li>
            <li class="col-f ord-1">
            
            </li>
            <li class="col-1 ord-2">
            <div class="block single promo light" style="">
              <span>
              <a target="_blank" href="https://www.databrary.org/about/why-share.html" class="ui-link">Share data & procedures</a>
              </span>
            </div>
            
            <div class="block single promo dark">
              <span>
              <a target="_blank" href="http://databrary.org/about/newsletter.html" class="ui-link">Read our latest newsletter</a>
              </span>
            </div>
            </li>
            <li class="col-f ord-1">
            
            </li>
            <li class="col-1 ord-2">
            <div class="block single promo dark " style="">
              <span><a target="_blank" href="http://databrary.org/community/board.html" class="ui-link">Thanks to the Databrary advisory board</a>
                </span>
            </div>
            
            <div class="block single promo light">
              <span>
              <a target="_blank" href="http://databrary.org/about/support.html" class="ui-link">Need help?</a>
              </span>
            </div>
            </li>
          </ul>
        </div>
      </div>
      <!--  /stream  -->
    </div>
    <!-- NYU Slider -->
    <div class="arrow-container"><a class="arrow-a"><span class="arrow-down"></span></a></div>
  </div>
  <!--testimonials begins-->
  <div class="testimonial-container section">
    <h2 class="header">Researchers depend on Databrary</h2>
    <div class="testimonials stream-container">
      <div class="testimonial">
        <div class="center-container">
          <a target="_blank" href="/party/546">
            <img src="/web/images/testimonials/kathy-hirsh-pasek.jpg" class="alignleft">
          </a>
        </div>
        <div class="text">
          <p><strong>Accessible and sharable data for secondary analysis</strong></p>
          <p>
          When I teach students how important data sharing is, I use Databrary as an example of how to actually make videos accessible and sharable. Secondary data analysis is the way of the future.
          </p>
          <p>&nbsp; &nbsp; <em>&mdash; Kathy Hirsh-Pasek, Professor of Psychology, Temple University</em></p>
        </div>
      </div>
      <div class="testimonial">
        <div class="center-container">
          <a target="_blank" href="/party/11">
            <img src="/web/images/testimonials/catherine_tamis_leMonda.jpg" class="alignleft">
          </a>
        </div>
        <div class="text">
          <p><strong>Faster collaboration</strong></p>
          <p>
          We use Databrary to make coding across labs - and across countries - easier and faster. For example, our collaborator in Korea posts videos he collected that students here then download and code. We don't have to worry about waiting for secure access to those files, and he gets the coding files faster, too.
          </p>
          <p>&nbsp; &nbsp; <em>&mdash; Catherine Tamis-LeMonda, Professor of Applied Psychology, NYU</em></p>
        </div>
      </div>
      <div class="testimonial">
        <div class="center-container">
          <a target="_blank" href="https://www.databrary.org/community/board.html">
            <img src="/web/images/testimonials/todd_gureckis.jpg" class="alignleft">
          </a>
        </div>
        <div class="text">
          <p><strong>A secure and confidential framework to meet IRB concerns</strong></p>
          <p>
          The work that Databrary has done on working though these IRB issues is really impressive. It's a really important contribution to the field to tackle the difficulties around sharing video data in a secure and confidential way.
          </p>
          <p>&nbsp; &nbsp; <em>&mdash; Todd Gureckis, Associate Professor of Psychology, NYU</em></p>
        </div>
      </div>
      <div class="testimonial">
        <div class="center-container">
          <a target="_blank" href="/party/32">
            <img src="/web/images/testimonials/lana_karasik.jpg" class="alignleft">
          </a>
        </div>
        <div class="text">
          <p><strong>Easily accessible data management and storage </strong></p>
          <p>
          Databrary is a useful data management and storage system, and lets me avoid unreliable hard-drives and bulky filing cabinets. In Databrary, files are stored together with linked metadata. I can clearly tell within a dataset how many participants are included, which aren’t and why, and sample characteristics - which is also very useful to generate grant reports.
          </p>
          <p>&nbsp; &nbsp; <em>&mdash; Lana Karasik, Assistant Professor of Psychology, CUNY</em></p>
        </div>
      </div>
      <div class="testimonial">
        <div class="center-container">
          <a target="_blank" href="/party/1117">
            <img src="/web/images/testimonials/vikram_jaswal.jpg" class="alignleft">
          </a>
        </div>
        <div class="text">
          <p><strong>Efficient workflow and secure sharing</strong></p>
          <p>
          So much of my lab's research depends on the video data we collect. Databrary has made our video storage and workflow process so much more efficient. Having all of our video in one reliable, secure place has made it simple and convenient to share data within the lab and with collaborators at other institutions. And you can’t beat the cost! (Free!)
          </p>
          <p>&nbsp; &nbsp; <em>&mdash; Vikram Jaswal, Associate Professor of Psychology, University of Virginia</em></p>
        </div>
      </div>
      <div class="stream-nav left" ng-click="plusDivs(-1)">
      </div>
      <div class="stream-nav right" ng-click="plusDivs(+1)">
      </div>
    </div>
    <div class="arrow-container"><a class="arrow-a"><span class="arrow-down"></span></a></div>
  </div>
  <!--testimonials ends-->
  <!--stat begins-->
  <div class="home-bigbuttons section">
    <div class="bigbuttons-text">
      <div class="view-center-block">
        <ul class="flat inline-block">
          <li><h2 class="count home-stats-num">{{::stats.authorized[page.permission.EDIT] | number:0}}</h2>&nbsp; <bluetext class="inline-block">investigators</bluetext></li>
          <li><h2 class="count home-stats-num">{{::stats.authorized[page.permission.READ] | number:0}}</h2>&nbsp; <bluetext class="inline-block">affiliates</bluetext></li>
          <li><h2 class="count home-stats-num">{{::stats.authorized[page.permission.ADMIN] | number:0}}</h2>&nbsp; <bluetext class="inline-block">institutions</bluetext></li>
          <li><h2 class="count home-stats-num">{{::stats.duration/(1000*60*60) | number:0}}</h2>&nbsp; <bluetext class="inline-block">hours of recordings</bluetext></li>
        </ul>
      </div>
      </div>
  </div>
  <!--stat ends-->
  <!--map begins-->
  <div id="map_wrapper">
      <div id="map_canvas" class="mapping"></div>
  </div>
  <div class="sponsors">
      <div>
        <a href="http://www.nyu.edu">
          <img src="/web/images/grants/nyu.jpg" style="margin-top:10px;"/>
        </a>
      </div>
      <div>
        <a href="http://www.psu.edu/">
          <img src="/web/images/grants/pennstate.png" style="width:250px;margin-top:20px;"/>
        </a>
      </div>
      <div>
        <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1238599&HistoricalAwards=false">
          <img src="/web/images/grants/nsf2.png"/>
          <br />
          <span>BCS-1238599</span>
        </a>
      </div>
      <div>
        <a href="http://projectreporter.nih.gov/project_info_description.cfm?aid=8531595&icde=15908155&ddparam=&ddvalue=&ddsub=&cr=1&csb=default&cs=ASC">
          <img src="/web/images/grants/nichd.png"/>
          <br />
          <span>U01-HD-076595</span>
        </a>
      </div>
      <div class="srcd-container">
        <a href="https://www.srcd.org/">
          <img src="/web/images/grants/srcd.jpg"/>
        </a>
      </div>
      <div>
        <a href="https://sloan.org/">
          <img src="/web/images/grants/sloan.png" style="width:210px"/>
        </a>
      </div>
      <div>
        <a href="http://www.legofoundation.com">
          <img src="/web/images/grants/lego.png"/>
        </a>
      </div>
  </div>
  <!--map ends-->
</article>
