<div class="div-grey">Changes are saved automatically.</div>
<ng-form name="volumeDesign" class="volumeDesign">
  <div class="row">
    <div class="volume-design-section col-desktop-7 col-tablet-5 col-mobile-6">
      <div class="volume-design-header">
        <strong>Categories</strong>
        <small>Click the checkbox to add that category to your spreadsheet. To preview available fields for that category, click on the category definition.</small>
      </div>
      <ul class="volume-design-categories flat">
        <li ng-repeat="c in ::page.constants.categories track by c.id" ng-class="{selected: c===selected}" class="clickable">
          <input type="checkbox" ng-model="volumeDesign.category[c.id]" ng-change="change(c.id); select(c.id);">
          <span ng-bind="::c.name" class="b"></span>: 
          <span class="small" ng-bind="::c.description"></span>
          <div ng-if="volume.metrics[c.id]">
            <span class="small" >Selected fields: </span> 
            <ul class="comma inline">
              <li class="strong" ng-repeat="m in volume.metrics[c.id]" ng-bind="::page.constants.metric[m].name"></li>
            </ul>
          </div>
          <small ng-if="c === selected" class="hide-desktop hide-tablet reminder">Scroll down the page to edit {{c.name}} fields</small>
        </li>
      </ul>
    </div>
    <div class="volume-design-section col-desktop-7 col-tablet-4 col-mobile-6" ng-if="!!selected">
      <div class="volume-design-float">
        <div class="volume-design-header" class="selected">
          <strong ng-bind="selected.name" ng-class="{b: volumeDesign.category[selected.id]}"></strong>
          <small class="reminder" ng-if="!volumeDesign.category[selected.id]">Click the checkbox on the left to change these fields</small>
          <a ng-if="volumeDesign.category[selected.id]" class="button mini small" ng-click="manage()" tooltip="'wizard.volume-edit-design.options-tooltip' | message">Define options</a>
        </div>
        <ul class="volume-design-fields flat" ng-class="{'disabled':!volumeDesign.category[selected.id]}">
          <li ng-repeat="m in selected.metrics track by m.id" ng-if="::m.type!=='void'" class="clickable">
            <input type="checkbox" ng-disabled="!volumeDesign.category[selected.id] || m.required" ng-model="volumeDesign.metric[m.id]" ng-change="change(selected.id, m.id)">
            <span class="icon release" ng-class="::page.constants.release[m.release]" tooltip="'release.'+page.constants.release[m.release]+'.metric' | message"></span>
            <span ng-bind="::m.name" class="b"></span>: 
            <span class="small" ng-bind="::m.description"></span> 
            <span class="small" ng-if="::m.assumed">(assumed "{{::m.assumed}}" by default)</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="spreadsheet">
    <div class="volume-design-header">
      <strong>Spreadsheet Preview</strong>
      <small>This is a preview of how the <a ng-click="activateStep(step.data)">spreadsheet</a> headers will look with the current selections, where each session is entered on a row.</small>
    </div>
    <table class="spreadsheet-table">
      <thead>
        <tr class="spreadsheet-head-groups">
          <th class="metric-col"><span class="spreadsheet-tab-name">folder</span></th>
          <th class="metric-col" ng-repeat="c in ::page.constants.categories track by c.id" ng-if="volume.metrics[c.id]" ng-class="{selected: c===selected}">
            <span class="spreadsheet-tab-name" ng-bind="::c.name"></span>
          </th>
        </tr>
        <tr>
          <th class="spreadsheet-fake-metric-th">test date</th>
          <th ng-repeat="c in ::page.constants.categories track by c.id" ng-if="volume.metrics[c.id]" class="spreadsheet-fake-metric-th" ng-class="{selected: c===selected}">
            <span ng-repeat="m in volume.metrics[c.id]" class="spreadsheet-fake-th" ng-bind="::page.constants.metric[m].name"></span>
          </th>
        </tr>
      </thead>
    </table>
  </div>
</ng-form>
