.spreadsheet-metadata
  margin 85px 0 25px 0
  button
    span
      display inline-block
      vertical-align top
    span:not(.upload)
      margin 6px
  ul
    margin 24px 0
  input[name="metadata"]
    display block
    position relative
    padding-left 0
    background-color #f8f8f8
  .upload
    width 26px
    height 24px
    position absolute

.uploadsubmit
  display none

metadata-match-form 
  display none
  table
    margin 20px 0

    th
      background-color #eee
      font-weight bold

    th, td
      border 1px solid #ccc
      padding 10px

    td
      background-color #fff !important

  button
    margin 0 20px 0 0

  .skip-text
    display none

metadata-form
  display block
  max-width 800px
  ng-form
    display block
    position relative
    background-color #f8f8f8
    padding 20px 10px
    & > span:nth-of-type(2)
      display inline-block
      margin 0 70px 10px 30px
      vertical-align top
    & > div
      display inline-block
  button
    padding 0 3px

.null
  background-color #fde7e7
  padding 10px
  display block
  margin -10px

.nulltext
  display none
  color #f26363

.error
  color #f26363