.spreadsheet-dynamic-info
  margin-bottom 30px
  .release-legend
    hide
    margin-bottom 0
    li
      text-indent -28px
      span.consent
      span.classification
        width 28px
        margin-right b8
        background-position 0

.spreadsheet-options
  margin b8
  display inline-block

.spreadsheet
  margin-bottom 2

.spreadsheet:not(.edit)
  .spreadsheet-table
    border-bottom 2px solid grey
  .spreadsheet-tbody
    border-right 2px solid grey

.spreadsheet.edit
  .spreadsheet-table
    td.add
      background-color green43
      color neutral52
    td.add:hover
      background-color green52
      color white
    .input-completer-choices li
      background-color rgba(255,255,255,0.85)
    td.prompt
      text-align initial
  .spreadsheet-global-record-cell
    padding-left 90px
  .global-record
    position absolute
    margin-top 1px
    margin-left 1px
    top 0
    left 0
    font-style initial

.spreadsheet-table
  width auto
  whitespace nowrap
  margin-bottom 0

  col.consent
    width 32px

  col.add
    width 24px

  th
    line-height 1
    position relative
    text-align center
    border-left 1px solid white
    border-right 1px solid white
    border-top 0
    border-bottom 0
    &.metric-col
      min-width 150px

    .spreadsheet-tab-options-icon
      background-position center
      background-size 85%
      position absolute
      margin b8
      &.list
        left 0

  td.add
    color pale
    text-transform lowercase

  td
    border 1px solid dark
    border-collapse initial
    padding 3px
    height 1+f3
    display table-cell
    max-width 15em
    position relative

    img.format
      margin-right b8

    a.session.icon
      background-size contain
      width b23
    > .icon
      vertical-align top

  tbody
    td
      overflow hidden
      text-overflow ellipsis

  td.folder-type
    .icon
      margin-right b8

  td.consent
    min-width 32px
    background-position 40px

  td.null
    background-color gray
    font-size 0.8em
    text-align center

  td.editing
    position relative

  td.spreadsheet-global-record-cell
    text-align center
    font-size 0.8
    line-height 1
    position relative

  td.blank
    color gray

  td.button
    text-align center
    font-size 0.8em

  td.more
    text-align center
    font-style italic
    font-size 0.8em
    position relative

    &:before
      content ''
      border-top b2 solid green
      border-right b2 solid transparent
      position absolute
      left 0
      top 0

  td.saving
    position relative
    &:before
      content 'Saving...'
      font-style italic
      text-align center
      background-color fade-out(blue, 0.1)
      overflow hidden
      position absolute
      top 0
      bottom 0
      left 0
      right 0

  td.error
    background-color red !important

  tr.expand
    whitespace normal

    td.long.selected
      white-space pre-wrap

.spreadsheet-tab-name
  margin 0 20px
  font-size 1.1em
  color neutral12

.spreadsheet-head-groups
  th
    text-transform lowercase
    &:before
      content ''
      border-radius b3 b3 0 0
      border-top 1px solid pale
      border-left 1px solid pale
      border-right 1px solid pale
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      margin-top b8
      z-index -1

    &.col-materials
      min-width 240px

    &.col-800
      min-width 78px

    .icon:hover
      opacity 0.4

    .icon.settings
      margin-width b2
      margin-top b6

.spreadsheet-head-metrics
  th
    border-bottom 2px solid black
    border-left-color pale
    border-right-color pale
    padding 0 20px 0 20px

    &.first
      border-left-color white
      cursor default

      &:before
        content ''
        border-left 1px solid pale
        position absolute
        left 0
        top 0
        bottom 0

    &.last
      border-right-color white

      &:after
        content ''
        border-right 1px solid pale
        position absolute
        right 0
        top 0
        bottom 0

.spreadsheet-edit
  position absolute
  z-index 50
  top 0
  left 0
  bottom 0
  width 100%
  select
    word-break normal
  select
  input[type='text']
  input[type='date']
  textarea
    height 100%
    min-height b1+b4
    vertical-align middle

.spreadsheet-tab-options
  left 0

.spreadsheet-dynamic-section .spreadsheet-tab-options
  display inline-block
  margin-bottom 0
  position relative
  overflow-y initial
  box-shadow none
  border none
  border-radius 0
  -webkit-border-radius 0

.spreadsheet-tab-option
  text-align left
  text-transform none
  font-weight normal
  padding b8 b3
  .default
    color green
    font-weight bold
.spreadsheet-tab-option:hover, .spreadsheet-tab-option.selected
  background-color yellow51

.spreadsheet-dynamic-section .spreadsheet-tab-option
  border 1px solid gray
  border-top-right-radius 15px
  border-top-left-radius 15px
  display inline-block

.spreadsheet-dynamic-section .spreadsheet-tab-option:hover, .spreadsheet-dynamic-section .spreadsheet-tab-option.selected
  padding-top 10px
  -webkit-transition padding-top .15s linear
  transition padding-top .15s linear

.spreadsheet-report-manage
  padding-width 2.5%
  margin-left -2.5%
  margin-bottom 0.5
  display inline-block
  width 100%

.spreadsheet-pivot-part
  display inline-block

span.spreadsheet-pivot-part
input.spreadsheet-pivot-part
  margin-left b2
  margin-bottom 0
  button > .icon
    margin-right b6

select.spreadsheet-pivot-part
  margin-right b1

.spreadsheet-dynamic-section
  position relative
  padding 47px 24px 12px 24px
  margin-bottom 1
  border-radius b4
  border 1px solid neutral53

.spreadsheet-dynamic-section .small.reminder.top-2:not(.margin1)
  margin-top 100px

.spreadsheet-switch-view
  position relative
  ul
    width max-content
.spreadsheet-dynamic-section .spreadsheet-switch-view
  position absolute

.spreadsheet-header-style
  border-top-left-radius b3
  border-top-right-radius b3
  border-style solid
  border-color grey
  border-width 1px 1px 0px 1px
  padding-width b2
  margin-width b8
  color neutral12

.margin-vertical
  margin 30px 0

.spreadsheet-help
  width 30px
  height 30px
  position absolute
  right 30px
  top 30px
