// base

basesize ?= 24px
basefont ?= 16px

// don't touch!

f1 = 1
f2 = 1/2
f3 = 1/3
f4 = 1/4
f6 = 1/6
f8 = 1/8
f12 = 1/12
f24 = 1/24

f23 = 2/3
f34 = 3/4
f80 = 8/10
f90 = 9/10

// don't touch!

-f1 = -1
-f2 = -1/2
-f3 = -1/3
-f4 = -1/4
-f6 = -1/6
-f8 = -1/8
-f12 = -1/12
-f24 = -1/24

-f23 = -2/3
-f34 = -3/4
-f80 = -8/10
-f90 = -9/10

// don't touch!

b1 = basesize * f1
b2 = basesize * f2
b3 = basesize * f3
b4 = basesize * f4
b6 = basesize * f6
b8 = basesize * f8
b12 = basesize * f12
b24 = basesize * f24

b23 = basesize * f23
b34 = basesize * f34
b80 = basesize * f80
b90 = basesize * f90

// don't touch!

-b1 = basesize * -f1
-b2 = basesize * -f2
-b3 = basesize * -f3
-b4 = basesize * -f4
-b6 = basesize * -f6
-b8 = basesize * -f8
-b12 = basesize * -f12
-b24 = basesize * -f24

-b23 = basesize * -f23
-b34 = basesize * -f34
-b90 = basesize * -f90

// grid

grid-desktop-spread = 15
grid-desktop-width = 1216px
grid-desktop-column = (100%/15 - 2)
grid-desktop-gutter = 2%

grid-tablet-spread = 9
grid-tablet-width = 976px
grid-tablet-column = (100%/9 - 3.7)
grid-tablet-gutter = 3.7%

grid-mobile-spread = 6
grid-mobile-width = 560px
grid-mobile-column = (100%/6 - 5)
grid-mobile-gutter = 5%

// color

// green = #60a99b
green = #2FA38C
blue = #5CAABC
purple = #9a8cec
//red = #FF6633
red = #f26363
orange = #F5B88F
// orange = #F3B48C
// orange = #d37433
// orange = #EFAD82
yellow = #d1ca00
// don't touch!

pitch = #000
black = #333
dark = #666
gray = #999
pale = #ccc
white = #fff

neutral = mix(dark, white, 33%)

// don't touch!

green11 = mix(green, black, 25%)
green12 = mix(green, black, 50%)
green13 = mix(green, black, 75%)

green21 = mix(green, dark, 25%)
green22 = mix(green, dark, 50%)
green23 = mix(green, dark, 75%)

green31 = mix(green, gray, 25%)
green32 = mix(green, gray, 50%)
green33 = mix(green, gray, 75%)

green41 = mix(green, pale, 25%)
green42 = mix(green, pale, 50%)
green43 = mix(green, pale, 75%)

green51 = mix(green, white, 25%)
green52 = mix(green, white, 50%)
green53 = mix(green, white, 75%)

//

blue11 = mix(blue, black, 25%)
blue12 = mix(blue, black, 50%)
blue13 = mix(blue, black, 75%)

blue21 = mix(blue, dark, 25%)
blue22 = mix(blue, dark, 50%)
blue23 = mix(blue, dark, 75%)

blue31 = mix(blue, gray, 25%)
blue32 = mix(blue, gray, 50%)
blue33 = mix(blue, gray, 75%)

blue41 = mix(blue, pale, 25%)
blue42 = mix(blue, pale, 50%)
blue43 = mix(blue, pale, 75%)

blue51 = mix(blue, white, 25%)
blue52 = mix(blue, white, 50%)
blue53 = mix(blue, white, 75%)

//

purple11 = mix(purple, black, 25%)
purple12 = mix(purple, black, 50%)
purple13 = mix(purple, black, 75%)

purple21 = mix(purple, dark, 25%)
purple22 = mix(purple, dark, 50%)
purple23 = mix(purple, dark, 75%)

purple31 = mix(purple, gray, 25%)
purple32 = mix(purple, gray, 50%)
purple33 = mix(purple, gray, 75%)

purple41 = mix(purple, pale, 25%)
purple42 = mix(purple, pale, 50%)
purple43 = mix(purple, pale, 75%)

purple51 = mix(purple, white, 25%)
purple52 = mix(purple, white, 50%)
purple53 = mix(purple, white, 75%)

//

red11 = mix(red, black, 25%)
red12 = mix(red, black, 50%)
red13 = mix(red, black, 75%)

red21 = mix(red, dark, 25%)
red22 = mix(red, dark, 50%)
red23 = mix(red, dark, 75%)

red31 = mix(red, gray, 25%)
red32 = mix(red, gray, 50%)
red33 = mix(red, gray, 75%)

red41 = mix(red, pale, 25%)
red42 = mix(red, pale, 50%)
red43 = mix(red, pale, 75%)

red51 = mix(red, white, 25%)
red52 = mix(red, white, 50%)
red53 = mix(red, white, 75%)

//

orange11 = mix(orange, black, 25%)
orange12 = mix(orange, black, 50%)
orange13 = mix(orange, black, 75%)

orange21 = mix(orange, dark, 25%)
orange22 = mix(orange, dark, 50%)
orange23 = mix(orange, dark, 75%)

orange31 = mix(orange, gray, 25%)
orange32 = mix(orange, gray, 50%)
orange33 = mix(orange, gray, 75%)

orange41 = mix(orange, pale, 25%)
orange42 = mix(orange, pale, 50%)
orange43 = mix(orange, pale, 75%)

orange50 = mix(orange, white, 10%)
orange51 = mix(orange, white, 25%)
orange52 = mix(orange, white, 50%)
orange53 = mix(orange, white, 75%)

//

yellow11 = mix(yellow, black, 25%)
yellow12 = mix(yellow, black, 50%)
yellow13 = mix(yellow, black, 75%)

yellow21 = mix(yellow, dark, 25%)
yellow22 = mix(yellow, dark, 50%)
yellow23 = mix(yellow, dark, 75%)

yellow31 = mix(yellow, gray, 25%)
yellow32 = mix(yellow, gray, 50%)
yellow33 = mix(yellow, gray, 75%)

yellow41 = mix(yellow, pale, 25%)
yellow42 = mix(yellow, pale, 50%)
yellow43 = mix(yellow, pale, 75%)

yellow51 = mix(yellow, white, 25%)
yellow52 = mix(yellow, white, 50%)
yellow53 = mix(yellow, white, 75%)

//

neutral11 = mix(neutral, black, 25%)
neutral12 = mix(neutral, black, 50%)
neutral13 = mix(neutral, black, 75%)

neutral21 = mix(neutral, dark, 25%)
neutral22 = mix(neutral, dark, 50%)
neutral23 = mix(neutral, dark, 75%)

neutral31 = mix(neutral, gray, 25%)
neutral32 = mix(neutral, gray, 50%)
neutral33 = mix(neutral, gray, 75%)

neutral41 = mix(neutral, pale, 25%)
neutral42 = mix(neutral, pale, 50%)
neutral43 = mix(neutral, pale, 75%)

neutral51 = mix(neutral, white, 25%)
neutral52 = mix(neutral, white, 50%)
neutral53 = mix(neutral, white, 75%)

// typo

body-family = "Lucida Sans Unicode", "Lucida Grande", sans-serif
heading-family = 'Questrial', sans-serif
mono-family = 'Lucida Console', monospace

// form

inset-shadow = inset 0 1px 1px pale
outset-shadow = 0 0 b4 green

// defaults

trans-time = .15s
trans-ease = linear

box-sizing = border-box
border-radius = b4
transition = all trans-time trans-ease

box-shadow-def = 0 0 b8 black
box-shadow-off = 0 0 b8 transparent

// toolbar heights
toolbarheight = 1.5
sandboxheight = 2
